#body {
    font-family: sans-serif;
    background-color: cornsilk;
    margin: 0;
}

.navigation {
    height: 50px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 50px;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card {
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
}

h3 {
    
}